
{% assign pattern = site.patterns | where:"path", include.pattern_path | first %}

<div class="preview {% if include.border == false %} preview--noborder{% endif %}">
    <iframe class="preview__iframe" frameBorder="0" width="100%" height="100%" src="{{ pattern.url | prepend: site.baseurl }}"></iframe>
    <div class="preview__handle"></div>

    {% if include.storybook_url %}
        <div class="preview-links">
            <a class="preview-links-btn btn-storybook" href="{{ include.storybook_url }}" target="_blank">
                {{ site.data.locale['storybook_preview'] | default:'Show in Storybook'}}
            </a>
        </div>
    {% endif %}
</div>
