<div class="c-auxiliary__header">
  <div class="c-auxiliary__top-bar">
    <div class="c-auxiliary__icon">
      <a href="./privacy_toolset.html"><img src="{{ "/images/privacy-toolset-icon.svg" | prepend: site.baseurl }}"></a>
    </div>
    <div class="c-auxiliary__right ">
      <div class="c-auxiliary__item"><a href="./about.html">About</a></div>
      <div class="c-auxiliary__item"><a href="./contribute.html">Contribute</a></div>
      <div class="c-auxiliary__item c-auxiliary__menu mobile">
        <div class="c-auxiliary__item-name">MENU</div>
        <div class="c-auxiliary__mobile-menu hide">
          <div class="c-auxiliary__mobile-menu-container">
            <div class="c-auxiliary__mobile-item"><a href="./privacy_toolset.html">Home</a></div>
            <div class="c-auxiliary__mobile-item"><a class="highlighted" href="./about.html">About</a></div>
            <div class="c-auxiliary__mobile-item"><a href="./contribute.html">Contribute</a></div>
            <div class="c-auxiliary__mobile-sub-item"><a href="#b-tools__footer-link">I'm a Designer</a></div>
            <div class="c-auxiliary__mobile-sub-item"><a href="#b-tools__footer-link">I'm a Researcher</a></div>
            <div class="c-auxiliary__mobile-sub-item"><a href="#b-tools__footer-link">I'm a Developer</a></div>
          </div>
          <div class="c-auxiliary__close-icon"><img src="{{ "/images/ic-close.svg" | prepend: site.baseurl }}"></div>
        </div>
      </div>
    </div>

    <div class="c-auxiliary__headline-container">
      <div class="c-auxiliary__basic-page-title">{{ page.title }}</div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.c-auxiliary__menu').click(event => {
    let clickedArrow = $(".c-auxiliary__mobile-menu");
    if (clickedArrow.hasClass("show")) {
      clickedArrow.addClass("hide");
      clickedArrow.removeClass("show");
    } else {
      clickedArrow.addClass("show");
      clickedArrow.removeClass("hide");
    }
  })
</script>