
<script src="{{ "/assets/js/vendor/jquery-3.1.0.min.js" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}"></script>
<script src="{{ "/assets/js/vendor/prism.js" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}"></script>
<script src="{{ "/assets/js/vendor/iframe-resizer.min.js" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}"></script>
<script src="{{ "/assets/js/vendor/clipboard.min.js" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}"></script>
<script src="{{ "/assets/js/style-guide.js" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}"></script>
<script src="{{ "/assets/js/vendor/svg4everybody.min.js" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}"></script>
<script>svg4everybody();</script>