<div id=contributing class="b-tools__footer">
  <a name="b-tools__footer-link"></a>
  <div class="b-tools__footer-content">
    <div class="b-tools__heading">
      Contributing is easy
    </div>
    <div class="b-tools__description">
      The privacy toolkit community welcomes all feedback and contributions of design, code, guidance, and ideas to help shape the best possible experience for our participants in digital research studies. If you have a new pattern or have an idea on how to improve a pattern, please check out how to contribute.
    </div>
    <div class="b-tools__buttons">
      <div class="b-tools__button"><a target="_blank" href="https://www.figma.com/file/BnryUMjHKeCADBiS0Rch7qBH/Privacy-Templates-Public?node-id=2186%3A687">I'm a Designer</a></div>
      <div class="b-tools__button"><a target="_blank" href="https://github.com/Sage-Bionetworks/DesignSystem">I'm a Developer</a></div>
      <div class="b-tools__button"><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScFapR7V1TQ45IA7wW0heNGR-OtT-sICkmje31OUeSsAM1NRQ/viewform">I'm a Researcher</a></div>
    </div>
    <div class="b-tools__links b-tools__desktop">
      <div class="b-tools__link">Or Start with</div>
      <div class="b-tools__link"><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScFapR7V1TQ45IA7wW0heNGR-OtT-sICkmje31OUeSsAM1NRQ/viewform">Google Form</a></div>
      <div class="b-tools__link"><a target="_blank" href="https://github.com/Sage-Bionetworks/DesignSystem">Github</a></div>
      <div class="b-tools__link"><a target="_blank" href="https://www.figma.com/file/BnryUMjHKeCADBiS0Rch7qBH/Privacy-Templates-Public?node-id=2186%3A687">Figma</a></div>
    </div>
  </div>
</div>