<div class="b-tools__heading">
  {{ page.title }}
</div>

<div class="b-tools__features b-tools__desktop">
  {% for feature in page.features %}
    <div class="b-tools__feature">
      <img src="{{ feature.image | prepend: '/images/' | prepend: site.baseurl }}">
      <div class="b-tools__feature-title">{{ feature.title }}</div>
      <div class="b-tools__feature-description">{{ feature.description }}</div>
    </div>
  {% endfor %}
</div>

<div class="swiper-container b-tools__features b-tools__mobile" id="swiper">
  {% for feature in page.features %}
    <div class="b-tools__feature">
      <img src="{{ feature.image | prepend: '/images/' | prepend: site.baseurl }}">
      <div class="b-tools__feature-title">{{ feature.title }}</div>
      <div class="b-tools__feature-description">{{ feature.description }}</div>
    </div>
  {% endfor %}
</div>

<br />
<br />
<div class="b-tools__heading padded">
  {{ page.pattern_title }}
</div>
<div class="b-tools__subheading">{{ page.pattern_subtitle }}</div>
<div class="b-tools__journey">
  <img src="{{ "/images/privacy-toolset-journey.svg" | prepend: site.baseurl }}">
</div>

<div class="b-tools__patterns">
  {% for pattern in page.patterns %}
  <div class="b-tools__pattern">
    <div class="b-tools__pattern-left">
      <img src="{{ pattern.image | prepend: '/images/' | prepend: site.baseurl }}">
    </div>
    <div class="b-tools__pattern-right">
      <div class="b-tools__pattern-color b-tools__mobile" style="background: #{{ pattern.header_color }}"></div>
      <div class="b-tools__title-container">
        <div class="title">{{ pattern.title }}</div>
        <div class="right b-tools__mobile">
          <img target="#first-pattern" class="b-tools__expand-pattern" src="{{ "/images/ic_expand_arrow.svg" | prepend: site.baseurl }}">
        </div>
      </div>
      <div class="b-tools__description-container extended hide" id="first-pattern">
          <div class="description">
            {{ pattern.description }} 
          </div>
          
          <div class="b-tools__links">
            {% for link in pattern.links %}
              <div class="b-tools__link"><a target="_blank" href="{{ site.baseurl | append: link.link }}">{{ link.title }}</a></div>
            {% endfor %}
          </div>

          <div class="b-tools__pattern-button scale-on-hover">
            <img src="{{ "/images/ic-add.svg" | prepend: site.baseurl }}">
            <div>Add a pattern</div>
          </div>
        </div>
      <div class="b-tools__shadow b-tools__mobile"></div>
    </div>
  </div>
  {% endfor %}
</div>

<script type="text/javascript" src="{{ "/assets/js/vendor/owl.min.js" | prepend: site.baseurl }}"></script>
<script>
$(document).ready(function(){
  var flky = new Flickity( '.swiper-container', {
    // options, defaults listed

    accessibility: true,
    // enable keyboard navigation, pressing left & right keys

    adaptiveHeight: false,
    // set carousel height to the selected slide

    autoPlay: false,
    // advances to the next cell
    // if true, default is 3 seconds
    // or set time between advances in milliseconds
    // i.e. `autoPlay: 1000` will advance every 1 second

    cellAlign: 'center',
    // alignment of cells, 'center', 'left', or 'right'
    // or a decimal 0-1, 0 is beginning (left) of container, 1 is end (right)

    cellSelector: ".b-tools__feature",
    // specify selector for cell elements

    contain: false,
    // will contain cells to container
    // so no excess scroll at beginning or end
    // has no effect if wrapAround is enabled

    draggable: '>1',
    // enables dragging & flicking
    // if at least 2 cells

    dragThreshold: 3,
    // number of pixels a user must scroll horizontally to start dragging
    // increase to allow more room for vertical scroll for touch devices

    freeScroll: false,
    // enables content to be freely scrolled and flicked
    // without aligning cells

    friction: 0.2,
    // smaller number = easier to flick farther

    groupCells: false,
    // group cells together in slides

    initialIndex: 0,
    // zero-based index of the initial selected cell

    lazyLoad: true,
    // enable lazy-loading images
    // set img data-flickity-lazyload="src.jpg"
    // set to number to load images adjacent cells

    percentPosition: true,
    // sets positioning in percent values, rather than pixels
    // Enable if items have percent widths
    // Disable if items have pixel widths, like images

    prevNextButtons: false,
    // creates and enables buttons to click to previous & next cells

    pageDots: true,
    // create and enable page dots

    resize: true,
    // listens to window resize events to adjust size & positions

    rightToLeft: false,
    // enables right-to-left layout

    setGallerySize: true,
    // sets the height of gallery
    // disable if gallery already has height set with CSS

    watchCSS: false,
    // watches the content of :after of the element
    // activates if #element:after { content: 'flickity' }

    wrapAround: false
    // at end of cells, wraps-around to first for infinite scrolling

  });
});

$('.b-tools__expand-pattern').click(event => {
  let clickedArrow = $(event.target)
  console.log(clickedArrow.attr('target'))
  if (clickedArrow.hasClass("flip")) {
    clickedArrow.removeClass("flip");
    $(clickedArrow.attr('target')).addClass("hide")
    $(clickedArrow.attr('target')).removeClass("show")
  } else {
    clickedArrow.addClass("flip");
    $(clickedArrow.attr('target')).addClass("show")
    $(clickedArrow.attr('target')).removeClass("hide")
  }
})
</script>