<div class="b-tools__heading">
  What is a Privacy Toolset?
</div>
<div class="b-tools__features b-tools__desktop">
  <div class="b-tools__feature">
    <img src="{{ "/images/respectful-trustworthy.svg" | prepend: site.baseurl }}">
    <div class="b-tools__feature-title">Respectful & Trustworthy</div>
    <div class="b-tools__feature-description">A simple approach that helps researchers create digital research study's interfaces that are respectful and trustworthy.</div>
  </div>
  <div class="b-tools__feature">
    <img src="{{ "/images/curated-interface-patterns.svg" | prepend: site.baseurl }}">
    <div class="b-tools__feature-title">Curated Interface Patterns</div>
    <div class="b-tools__feature-description">This curated collection of established interface patterns provide biomedical researchers with clear examples of when and where these patterns should be used in the app.</div>
  </div>
  <div class="b-tools__feature">
    <img src="{{ "/images/participant-centered.svg" | prepend: site.baseurl }}">
    <div class="b-tools__feature-title">Participant Centered</div>
    <div class="b-tools__feature-description">Participants have a better understanding of how their data is contributing to research but also retain their ability to control their data.</div>
  </div>
</div>

<div class="swiper-container b-tools__features b-tools__mobile" id="swiper">
    <div class="b-tools__feature">
      <img src="{{ "/images/respectful-trustworthy.svg" | prepend: site.baseurl }}">
      <div class="b-tools__feature-title">Respectful & Trustworthy</div>
      <div class="b-tools__feature-description">A simple approach that helps researchers create digital research study's interfaces that are respectful and trustworthy.</div>
    </div>
    <div class="b-tools__feature">
      <img src="{{ "/images/curated-interface-patterns.svg" | prepend: site.baseurl }}">
      <div class="b-tools__feature-title">Curated Interface Patterns</div>
      <div class="b-tools__feature-description">This curated collection of established interface patterns provide biomedical researchers with clear examples of when and where these patterns should be used in the app.</div>
    </div>
    <div class="b-tools__feature">
      <img src="{{ "/images/participant-centered.svg" | prepend: site.baseurl }}">
      <div class="b-tools__feature-title">Participant Centered</div>
      <div class="b-tools__feature-description">Participants have a better understanding of how their data is contributing to research but also retain their ability to control their data.</div>
    </div>
</div>

<br />
<br />
<div class="b-tools__heading padded">
  Using the Privacy Toolset for your Digital Study
</div>
<div class="b-tools__subheading">Connecting with your users through multiple touchpoints throughout all of the stages of your study.</div>
<div class="b-tools__journey">
  <img src="{{ "/images/privacy-toolset-journey.svg" | prepend: site.baseurl }}">
</div>


<div class="b-tools__patterns">
  <div class="b-tools__pattern">
    <div class="b-tools__pattern-left">
      <img src="{{ "/images/privacy-heart-capture-feature.svg" | prepend: site.baseurl }}">
    </div>
    <div class="b-tools__pattern-right">
      <div class="b-tools__pattern-color b-tools__mobile rose"></div>
      <div class="b-tools__title-container">
        <div class="title">Getting Started</div>
        <div class="right b-tools__mobile">
          <img target="#first-pattern" class="b-tools__expand-pattern" src="{{ "/images/ic_expand_arrow.svg" | prepend: site.baseurl }}">
        </div>
      </div>
      <div class="b-tools__description-container extended hide" id="first-pattern">
          <div class="description">
            Explore some of the respectful ways to approach privacy and data collection in all the participants’ touchpoints in your digital research study. Here are some best practices on how to deal with the notorious cookie prompts, intrusive permission requests, off-putting push notifications, and offboarding experience. 
          </div>
          
          <div class="b-tools__links">
            <div class="b-tools__link"><a href="#">Cookies Permission</a></div>
            <div class="b-tools__link"><a href="#">Privacy Policy</a></div>
            <div class="b-tools__link"><a href="#">Traffic Light</a></div>
          </div>

          <div class="b-tools__pattern-button scale-on-hover">
            <img src="{{ "/images/ic-add.svg" | prepend: site.baseurl }}">
            <div>Add a pattern</div>
          </div>
        </div>
      <div class="b-tools__shadow b-tools__mobile"></div>
    </div>
  </div>
  <div class="b-tools__pattern">
    <div class="b-tools__pattern-left">
      <img src="{{ "/images/privacy-discover-learning-feature.svg" | prepend: site.baseurl }}">
    </div>
    <div class="b-tools__pattern-right">
      <div class="b-tools__pattern-color b-tools__mobile turquoise"></div>
      <div class="b-tools__title-container">
        <div class="title">Discovering and learning about the study</div>
        <div class="right b-tools__mobile">
          <img target="#second-pattern" class="b-tools__expand-pattern" src="{{ "/images/ic_expand_arrow.svg" | prepend: site.baseurl }}">
        </div>
      </div>
      <div class="b-tools__description-container hide" id="second-pattern">
          <div class="description">The user has heard about the study from either recruitment materials or a healthcare provider. The user is looking for additional information on the purpose of the study, participant eligibility criteria and the requirements of study participation.</div>
          
          <div class="b-tools__links">
            <div class="b-tools__link"><a href="#">Cookies</a></div>
            <div class="b-tools__link"><a href="#">Consent</a></div>
            <div class="b-tools__link"><a href="#">Study Details</a></div>
            <div class="b-tools__link"><a href="#">Data Sharing Options</a></div>
          </div>

          <div class="b-tools__pattern-button scale-on-hover">
            <img src="{{ "/images/ic-add.svg" | prepend: site.baseurl }}">
            <div>Add a pattern</div>
          </div>
      </div>
      <div class="b-tools__shadow b-tools__mobile"></div>
    </div>
  </div>
  <div class="b-tools__pattern">
    <div class="b-tools__pattern-left">
      <img src="{{ "/images/using-the-research-app-feature.svg" | prepend: site.baseurl }}">
    </div>
    <div class="b-tools__pattern-right">
      <div class="b-tools__pattern-color b-tools__mobile lavendar"></div>
      <div class="b-tools__title-container">
        <div class="title">Using the research app</div>
        <div class="right b-tools__mobile">
          <img target="#third-pattern" class="b-tools__expand-pattern" src="{{ "/images/ic_expand_arrow.svg" | prepend: site.baseurl }}">
        </div>
      </div>
      <div class="b-tools__description-container hide" id="third-pattern">
          <div class="description">
            The user is now an enrolled study participant by completing the informed consent and the app’s onboarding process. They are now ready to complete the study’s activities and contribute data.
          </div>
          
          <div class="b-tools__links">
            <div class="b-tools__link"><a href="#">Just-in Time Permission</a></div>
            <div class="b-tools__link"><a href="#">Minimization of Data Collection</a></div>
          </div>

          <div class="b-tools__pattern-button scale-on-hover">
            <img src="{{ "/images/ic-add.svg" | prepend: site.baseurl }}">
            <div>Add a pattern</div>
          </div>
        </div>
        <div class="b-tools__shadow b-tools__mobile"></div>
    </div>
  </div>

  <div class="b-tools__pattern">
    <div class="b-tools__pattern-left">
      <img src="{{ "/images/making-sense-of-contribution.svg" | prepend: site.baseurl }}">
    </div>
    <div class="b-tools__pattern-right">
      <div class="b-tools__pattern-color b-tools__mobile powder"></div>
      <div class="b-tools__title-container">
        <div class="title">Making sense of one's contribution and return of data/results</div>
        <div class="right b-tools__mobile">
          <img target="#fourth-pattern"  class="b-tools__expand-pattern" src="{{ "/images/ic_expand_arrow.svg" | prepend: site.baseurl }}">
        </div>
      </div>
      <div class="b-tools__description-container hide" id="fourth-pattern">
        <div class="description">
          When a participant is making sense of how his/her data contributes to the research study. A participant now has the ability to see aggregated data in an understandable visual format so that they can better manage their condition.
        </div>
        
        <div class="b-tools__links">
          <div class="b-tools__link"><a href="#">Visual Toggle</a></div>
          <div class="b-tools__link"><a href="#">Data Usage Log</a></div>
          <div class="b-tools__link"><a href="#">Insights</a></div>
          <div class="b-tools__link"><a href="#">Private Share Link</a></div>
        </div>

        <div class="b-tools__pattern-button scale-on-hover">
          <img src="{{ "/images/ic-add.svg" | prepend: site.baseurl }}">
          <div>Add a pattern</div>
        </div>
      </div>
      <div class="b-tools__shadow b-tools__mobile"></div>
    </div>
  </div>

  <div class="b-tools__pattern">
    <div class="b-tools__pattern-left">
      <img src="{{ "/images/leaving-the-study.svg" | prepend: site.baseurl }}">
    </div>
    <div class="b-tools__pattern-right">
      <div class="b-tools__pattern-color b-tools__mobile coral"></div>
      <div class="b-tools__title-container">
        <div class="title">Leaving the Study</div>
        <div class="right b-tools__mobile">
          <img target="#fifth-pattern" class="b-tools__expand-pattern" src="{{ "/images/ic_expand_arrow.svg" | prepend: site.baseurl }}">
        </div>
      </div>
      <div class="b-tools__description-container hide" id="fifth-pattern">
        <div class="description">
          The participant has completed their contribution to the study. 
        </div>
        
        <div class="b-tools__links">
          <div class="b-tools__link"><a href="#">Inactivity Checking</a></div>
          <div class="b-tools__link"><a href="#">Data Access Log</a></div>
        </div>

        <div class="b-tools__pattern-button scale-on-hover">
          <img src="{{ "/images/ic-add.svg" | prepend: site.baseurl }}">
          <div>Add a pattern</div>
        </div>
      </div>
      <div class="b-tools__shadow b-tools__mobile"></div>
    </div>
  </div>

</div>

<script type="text/javascript" src="{{ "/assets/js/vendor/owl.min.js" | prepend: site.baseurl }}"></script>
<script>
$(document).ready(function(){
  var flky = new Flickity( '.swiper-container', {
    // options, defaults listed

    accessibility: true,
    // enable keyboard navigation, pressing left & right keys

    adaptiveHeight: false,
    // set carousel height to the selected slide

    autoPlay: false,
    // advances to the next cell
    // if true, default is 3 seconds
    // or set time between advances in milliseconds
    // i.e. `autoPlay: 1000` will advance every 1 second

    cellAlign: 'center',
    // alignment of cells, 'center', 'left', or 'right'
    // or a decimal 0-1, 0 is beginning (left) of container, 1 is end (right)

    cellSelector: ".b-tools__feature",
    // specify selector for cell elements

    contain: false,
    // will contain cells to container
    // so no excess scroll at beginning or end
    // has no effect if wrapAround is enabled

    draggable: '>1',
    // enables dragging & flicking
    // if at least 2 cells

    dragThreshold: 3,
    // number of pixels a user must scroll horizontally to start dragging
    // increase to allow more room for vertical scroll for touch devices

    freeScroll: false,
    // enables content to be freely scrolled and flicked
    // without aligning cells

    friction: 0.2,
    // smaller number = easier to flick farther

    groupCells: false,
    // group cells together in slides

    initialIndex: 0,
    // zero-based index of the initial selected cell

    lazyLoad: true,
    // enable lazy-loading images
    // set img data-flickity-lazyload="src.jpg"
    // set to number to load images adjacent cells

    percentPosition: true,
    // sets positioning in percent values, rather than pixels
    // Enable if items have percent widths
    // Disable if items have pixel widths, like images

    prevNextButtons: false,
    // creates and enables buttons to click to previous & next cells

    pageDots: true,
    // create and enable page dots

    resize: true,
    // listens to window resize events to adjust size & positions

    rightToLeft: false,
    // enables right-to-left layout

    setGallerySize: true,
    // sets the height of gallery
    // disable if gallery already has height set with CSS

    watchCSS: false,
    // watches the content of :after of the element
    // activates if #element:after { content: 'flickity' }

    wrapAround: false
    // at end of cells, wraps-around to first for infinite scrolling

  });
});

$('.b-tools__expand-pattern').click(event => {
  let clickedArrow = $(event.target)
  console.log(clickedArrow.attr('target'))
  if (clickedArrow.hasClass("flip")) {
    clickedArrow.removeClass("flip");
    $(clickedArrow.attr('target')).addClass("hide")
    $(clickedArrow.attr('target')).removeClass("show")
  } else {
    clickedArrow.addClass("flip");
    $(clickedArrow.attr('target')).addClass("show")
    $(clickedArrow.attr('target')).removeClass("hide")
  }
})
</script>