---
layout: pattern
---

{% capture icon_code %}<ion-icon name="add-circle-outline"></ion-icon>{% endcapture %}
{% include icon-preview.html name="Add" code=icon_code %}

{% capture icon_code %}<ion-icon name="airplane"></ion-icon>{% endcapture %}
{% include icon-preview.html name="airplane" code=icon_code %}

{% capture icon_code %}<ion-icon name="alarm"></ion-icon>{% endcapture %}
{% include icon-preview.html name="alarm" code=icon_code %}

{% capture icon_code %}<ion-icon name="alert"></ion-icon>{% endcapture %}
{% include icon-preview.html name="alert" code=icon_code %}

{% capture icon_code %}<ion-icon name="arrow-back"></ion-icon>{% endcapture %}
{% include icon-preview.html name="arrow-back" code=icon_code %}

{% capture icon_code %}<ion-icon name="arrow-down"></ion-icon>{% endcapture %}
{% include icon-preview.html name="arrow-down" code=icon_code %}

{% capture icon_code %}<ion-icon name="arrow-up"></ion-icon>{% endcapture %}
{% include icon-preview.html name="arrow-up" code=icon_code %}

{% capture icon_code %}<ion-icon name="arrow-forward"></ion-icon>{% endcapture %}
{% include icon-preview.html name="arrow-forward" code=icon_code %}

{% capture icon_code %}<ion-icon name="at"></ion-icon>{% endcapture %}
{% include icon-preview.html name="at" code=icon_code %}

{% capture icon_code %}<ion-icon name="attach"></ion-icon>{% endcapture %}
{% include icon-preview.html name="attach" code=icon_code %}

{% capture icon_code %}<ion-icon name="build"></ion-icon>{% endcapture %}
{% include icon-preview.html name="build" code=icon_code %}

{% capture icon_code %}<ion-icon name="call"></ion-icon>{% endcapture %}
{% include icon-preview.html name="call" code=icon_code %}

{% capture icon_code %}<ion-icon name="chatboxes"></ion-icon>{% endcapture %}
{% include icon-preview.html name="chatboxes" code=icon_code %}

{% capture icon_code %}<ion-icon name="copy"></ion-icon>{% endcapture %}
{% include icon-preview.html name="copy" code=icon_code %}

{% capture icon_code %}<ion-icon name="download"></ion-icon>{% endcapture %}
{% include icon-preview.html name="download" code=icon_code %}