/*------------------------------------*\
    #AUXILIARY HEADER
\*------------------------------------*/

.privacy-page-auxiliary-layout__header {

  margin-left: 0;
  width: 100%;
  overflow-x: hidden;
  background: $color-darker-cream;
  font-family: Lato;

  @media screen and (max-width: $bp-med-2) {
    padding-bottom: 30px;
  }

  .b-tools__mobile {
    display: none;
    @media screen and (max-width: $bp-med-2) {
      display: block;
    }
  }

  .c-auxiliary__mobile {
    display: none;

    @media screen and (max-width: $bp-med-2) {
      display: block;
    }
  }

  .c-auxiliary__desktop {
    display: block;

    @media screen and (max-width: $bp-med-2) {
      display: none;
    }
  }

  .scale-on-hover {
    transform: scale(1);
    transition: all .2s ease-in-out;

    &:hover { transform: scale(1.02); }
  }

  .c-auxiliary__header {
    width: 100%;
    height: auto;
    
    .c-auxiliary__header-img {
      width: 100%;
      background: #FCE5BD;
      height: auto;
      object-fit: cover;
    }

    .c-auxiliary__top-bar {
      width: 100%;
      clear: left;
      padding-top: 30px;
      padding-left: 30px;

      .c-auxiliary__icon {
        float: left;
        position: relative;
        cursor:pointer;
        left: 0%;
        width: 25%;
        min-height: 120px;
        min-width: 150px;
        max-width: 250px;
      }

      .c-auxiliary__right {
        float: right;
        padding-right: 30px;


        .c-auxiliary__mobile-menu {
          position: fixed;
          top: 0px;
          background: white;
          z-index: 100;
          transition: all .2s;
          transform-origin: top right;
          left: 0px;
          width: 100%;
          height: 100%;

          .c-auxiliary__mobile-menu-container {
            padding-left: 60px;
            margin-top: 100px;
            font-size: 20px;

            .c-auxiliary__mobile-item {
              text-align: left;
              padding-bottom: 0.5em;
              padding-top: 24px;
              a {
                font-weight: 300;
                color: $color-blue;

                &.highlighted {
                  border-bottom: 4px solid #FCE5BD;
                }
              }
            }

            .c-auxiliary__mobile-sub-item {
              padding-left: 60px;
              text-align: left;
              padding-top: 24px;

              a {
                font-weight: 200;
                color: $color-blue;
              }
            }

            .c-auxiliary__mobile-item:first-of-type {
              border-top: none;
            }
          
          }

          &.show {
            transform: scale(1);
          }

          &.hide {
            transform: scale(0);
          }

          .c-auxiliary__close-icon {
            position: absolute;
            top: 35px;
            right: 35px;
          }
        }

        .c-auxiliary__item {
          cursor:pointer;
          margin-top: 20px;
          margin-left: 80px;
          float: left;

          a {
            color: $color-blue;
            font-size: 20px;
          }

          &.c-auxiliary__menu {
            text-align: right;

            @media screen and (max-width: $bp-small-2) {
              position: absolute;
              top: 20px;
              right: 20px;
            }

            .c-auxiliary__item-name {
              color: black;
              padding-right: 20px;
              font-weight: 300;

              &.highlighted {
                background: white;
              }


              @media screen and (max-width: $bp-med-2) {
                font-size: 16px;
              }
            }
          }


          &.mobile {
            display: none;
          }
          
          @media screen and (max-width: $bp-med-2) {
            display:none;

            &.mobile {
              display: block;
            }
          }

          img {
            height: 30px;
            position: relative;
            top: -5px;
          }
        }
      }

      .c-auxiliary__headline-container {
          clear: both;
          width: 100%;
          color: $color-gray-16;

          .c-auxiliary__headline-left {
            width: 50%;
            float: left;

            @media screen and (max-width: $bp-med-2) {
              width: 90%;
              float: none;
            }

            .c-auxiliary__headline {
              font-weight: 200;
              width: 100%;
              clear: left;
              font-size: 1.65em;
              position: relative;
              top: -35px;

              @media screen and (max-width: $bp-med-2) {
                font-size: 1.45em;
                clear: both;
                top: -68px;
              }
              
              @media screen and (max-width: $bp-small-1) {
                font-size: 1.25em;
              }

              .c-auxiliary__headline-title {
                font-weight: 300;
                font-size: 30px;
                color: $color-gray-16;

                @media screen and (max-width: $bp-med-2) {
                  font-size: 20px;
                }
              }

              .c-auxiliary__headline-description {
                font-size: 16px;
                font-weight: 200;
                margin-top: 15px;
                line-height: 21px;
                letter-spacing: 0.5px;

                @media screen and (max-width: $bp-med-2) {
                  font-size: 16px;
                }
              }
            }


            .c-auxiliary_header-buttons {
              width: 100%;
              margin-top: 20px;
              clear: left;
              
              @media screen and (max-width: $bp-med-2) {
                margin-top: 0px;
              }

              button {
                background: #fff;
                border-radius: 100px;
                padding-left: 25px;
                padding-right: 25px;
                padding-top: 8px;
                padding-bottom: 8px;
                font-weight: 500;
                margin-left: 5px;
                margin-right: 5px;
                border: 0;
                font-size: 16px;

                @media screen and (max-width: $bp-small-1) {
                    padding-left: 15px;
                    padding-right: 15px;
                    margin-left: 3px;
                    margin-right: 3px;
                    font-size: .7em;
                }
              }
            }
          }

          .c-auxiliary__headline-right {
            img {
              float: right;
            }
          }
      }

    }
  }
}