
.color-preview {
    box-sizing: content-box;
    width: 120px;
    padding-top: 120px;
    margin: 20px;
    border: 3px solid $code_background_color;    
    display: inline-block;
}

.color-preview__value, .color-preview__name {
    background-color: $main_background_color;
    padding: 4px 8px;
    line-height: 1em;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.color-preview__name {
    font-weight: 600;
}