
.color-preview {
    margin-bottom: 16px;
    border: 20px solid $main_background_color;
    padding-top: 120px;
    width: 160px;
    display: inline-block;
}

.color-preview__value, .color-preview__name {
    background-color: $main_background_color;
    padding: 4px 0px;
    line-height: 1em;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.color-preview__name {
    font-weight: 600;
}