// prefix with underscores, to avoid conflicts in ifframes

.__icon-preview {
    width: 100px;
    height: 80px;
    position: relative;
    display: inline-block;

    text-align: center;
    margin-bottom: 14px;
    border: 3px solid $color-gray-02;
}

.__icon-preview__icon {
    font-size: 40px;
}

.__icon-preview__value {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
    padding-top: 3px;
    background-color: $color-gray-02;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    text-align: center;
}