/*------------------------------------*\
    #toolkit HEADER
\*------------------------------------*/

.c-tools__mobile {
  display: none;

  @media screen and (max-width: $bp-med-2) {
    display: block;
  }
}


.privacy-page-layout__header {
  margin-left: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: Lato;

  .scale-on-hover {
    transform: scale(1);
    transition: all .2s ease-in-out;

    &:hover { transform: scale(1.02); }
  }

  .c-tools__header {
    width: 100%;
    height: 340px;
    
    .c-tools__header-img {
      width: 100%;
      background: #FCE5BD;
      height: 340px;
      object-fit: cover;
    }

    .c-tools__top-bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      clear: left;
      padding: 30px;
      padding-left: 15px;
      padding-right: 15px;

      .c-tools__icon {
        float: left;
        position: relative;
        cursor:pointer;
        left: 0%;
        width: 25%;
        min-height: 120px;
        min-width: 150px;
        max-width: 250px;
      }

      .c-tools__right {
        float: right;

        .c-tools__item {
          cursor:pointer;
          margin-top: 20px;
          float: left;
          margin-right: 60px;

          a {
            font-size: 20px;
            font-weight: 300;
            color: $color-blue;
          }

          .c-tools__mobile-menu {
            position: fixed;
            top: 0px;
            background: white;
            z-index: 100;
            transition: all .2s;
            transform-origin: top right;
            left: 0px;
            width: 100%;
            height: 100%;

            .c-tools__mobile-menu-container {
              padding-left: 60px;
              margin-top: 100px;
              font-size: 20px;


              @media screen and (max-width: $bp-med-2) {
                padding-left: 30px;
              }
              
              .c-tools__mobile-item {
                text-align: left;
                padding-bottom: 0.5em;
                padding-top: 24px;
                a {
                  font-weight: 300;
                  color: $color-blue;

                  &.highlighted {
                    border-bottom: 4px solid #FCE5BD;
                  }
                }
              }

              .c-tools__mobile-sub-item {
                padding-left: 60px;
                text-align: left;
                padding-top: 24px;

                a {
                  font-weight: 200;
                  color: $color-blue;
                }
              }

              .c-tools__mobile-item:first-of-type {
                border-top: none;
              }
            
            }

            &.show {
              transform: scale(1);
            }

            &.hide {
              transform: scale(0);
            }

            .c-tools__close-icon {
              position: absolute;
              top: 35px;
              right: 35px;
            }
          }

          &.c-tools__menu {
            text-align: right;
            margin-right: 40px;

            @media screen and (max-width: $bp-small-2) {
              position: absolute;
              top: 20px;
              right: 20px;
            }

            .c-tools__item-name {
              font-weight: 300;
              font-size: 16px;
              line-height: 19px;

              &.highlighted {
                background: white;
              }
            }
          }


          &.mobile {
            display: none;
          }
          
          @media screen and (max-width: $bp-med-2) {
            display:none;

            &.mobile {
              display: block;
            }
          }

          img {
            height: 30px;
            position: relative;
            top: -5px;
          }
        }
      }

      .c-tools__headline {
        font-weight: 200;
        width: 100%;
        text-align: center;
        clear: left;
        font-size: 1.65em;
        position: relative;
        top: -35px;
        color: #2a4d63;
        padding-left: 15%;
        padding-right: 15%;
        font-size: 30px;
        line-height: 36px;

        @media screen and (max-width: $bp-med-2) {
          padding-left: 10%;
          padding-right: 10%;
          clear: both;
          font-size: 25px;
          line-height: 30px;
          position: relative;
          top: -59px;
        }
        
        @media screen and (max-width: $bp-small-1) {
          font-size: 1.25em;
        }
      }

      .c-tools_header-buttons {
        text-align: center;
        width: 100%;
        margin-top: 30px;
        clear: left;
        
        @media screen and (max-width: $bp-med-2) {
          margin-top: 0px;
        }

        button {
          background: #fff;
          border-radius: 100px;
          padding-left: 25px;
          padding-right: 25px;
          padding-top: 8px;
          padding-bottom: 8px;
          font-weight: 500;
          margin-left: 5px;
          margin-right: 5px;
          border: 0;
          font-size: 0.9em;

          @media screen and (max-width: $bp-small-1) {
              padding-left: 15px;
              padding-right: 15px;
              margin-left: 3px;
              margin-right: 3px;
              font-size: .7em;
          }
        }
      }
    }
  }
}