.b-auxiliary__content {

  .b-tools__mobile {
    display: none;
    @media screen and (max-width: $bp-med-2) {
      display: block;
    }
  }

  font-family: Lato;
  margin-bottom: -50px;
  h2 {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    font-weight: 300;
    color: #2a2a2a;
  }
  
  p {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    font-size: 0.95em;
    line-height: 1.3em;
    font-weight: 100;
  }

  .c-auxiliary__message-block {
    padding-bottom: 23px;
    border: none;

    @media screen and (max-width: $bp-med-2) {
      border-bottom: 1px solid gray;
    }

    .c-auxiliary__message-block-title {
      clear: both;
      width: 100%;
      height: 70px;

      .c-auxiliary__message-block-title-text {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 30px;
        font-weight: 300;
        color: #2a2a2a;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: -0.5px;
        float: left;
        width: 88%;
        
        @media screen and (max-width: $bp-med-2) {
          font-size: 20px;
          line-height: 24px;
          letter-spacing: -0.5px;
        }
      }
      
      .c-auxiliary__mesage-block-title-arrow {
        float: right;
        width: 10%;
        height: 70px;
        margin-right: 2%;

        img {
          transition: all .2s;
          margin-top: 24px;
          width: 60px;
          padding: 15px;
          
          &.flip {
            transform: rotate(180deg);
          }
        }
      }
    }
    
    .c-auxiliary__message-block-description {
      transition: max-height 0.5s;
      overflow-y: hidden;
      max-height: 0px;
      clear: both;
      max-height: 2000px;

      .c-auxiliary__message-block-view-larger {
        clear: both;
        height: 25px;
        overflow: hidden;
        font-weight: 300;
        margin-top: 12px;

        .c-auxiliary__message-block-view-larger-left {
          float: left;
          margin-left: 18px;
          font-size: 14px;
          color: $cloud-500;
        }
        .c-auxiliary__message-block-view-larger-right {
          float: right;

          img {
            width: 23.52px;
            margin-right: 17px;
            position: relative;
          }
        }
      }

      @media screen and (max-width: $bp-med-2) {
        &.hide {
          max-height: 0px;
        }

        &.show {
          max-height: 2000px;
        }
      }

      .c-auxiliary__image-block {
        padding-bottom: 0px;
        margin-top: 70px;
        @media screen and (max-width: $bp-med-2) {
          margin-top: 0px;
        }
        
        .c-auxiliary__image-block-title {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: -0.5px;
          color: $color-gray-16;
          width: 100%;
          padding-left: 50px;
          padding-right: 50px;
          padding-top: 50px;
          
          @media screen and (max-width: $bp-med-2) {
            background-color: white !important;
            padding-bottom: 30px;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: -0.5px;
          }
        }

        img {
          padding: 50px;
        }
      }

      .c-auxiliary__message-block-description-item {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 10px;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.5px;
        line-height: 1.3em;
        font-weight: 200;
        margin-top: 10px;

        @media screen and (max-width: $bp-med-2) {
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 0.5px;
        }

        .c-auxiliary__step {
          clear: both;
          margin-bottom: 45px;
            
          @media screen and (max-width: $bp-med-2) {
            font-size: 0.9em;
          }

          .c-auxiliary__step-left {
            float: left;
            height: 80px;
            width: 8%;
            min-width: 60px;
            color: $cloud-400;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: -0.5px;
            
            @media screen and (max-width: $bp-med-2) {
              height: 200px;
              font-size: 15px;
            }
            
            @media screen and (max-width: $bp-small-4) {
              height: 300px;
            }
          }

          .c-auxiliary__step-right {
            width: 90%;

            .c-auxiliary__step-title {
              font-size: 20px;
              line-height: 24px;
              letter-spacing: -0.5px;
              font-weight: 500;
              color: rgba(0, 0, 0, 0.87);
              
              @media screen and (max-width: $bp-med-2) {
                font-size: 18px;
              }
            }

            .c-auxiliary__step-description {
              font-weight: 200;
              margin-top: 10px;
              font-size: 16px;
              line-height: 19px;
              letter-spacing: 0.5px;
              color: rgba(0, 0, 0, 0.6);
            }
          }
        }
      }
    }
  }

  #c-auxiliary__fullscreen-img-container {
    transition: all 0.5s;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 150;
    transform: scale(0);
    background: white;

    &.show {
      display: block;
      transform: scale(1);
    }

    #c-auxiliary__fullscreen-img {
      touch-action: auto;
      object-fit: contain;
      padding: 20px;
      margin-top: 20%
    }

    #c-auxiliary__fulscreen-img-close {
      top: 30px;
      position: absolute;
      right: 30px;
      height: 30px;
    }
  }

  .c-auxiliary__resources {
    clear: both;
    padding-top: 46px;
    line-height: 24px;
    letter-spacing: -0.5px;

    .c-auxiliary__resource-title {
      font-size: 20px;
      padding-left: 50px;
    }

    .c-auxiliary__resource {

      &.highlight {
        background: $butterscotch-50;
      }

      .c-auxiliary__resource-container {
        clear: both;
        padding-top: 25px;
        padding-left: 50px;
        padding-right: 50px;
        min-height: 100px;

        .c-auxiliary__resource-left {
          float: left;
          width: 80%;

          .c-auxiliary__resources-image {
            float: left;
            img {
              height: 50px;
              width: 50px;
            }
          }
          
          .c-auxiliary__resource-image-description {
            float: left;
            padding-left: 20px;

            @media screen and (max-width: 900px) {
              width: calc(100% - 50px);
            }

            .c-auxiliary__resources-title {
              font-size: 18px;
              line-height: 22px;

              &.single-line {
                margin-top: 12px;
              }
              
              @media screen and (max-width: 900px) {
                font-size: 16px;
              }
            }
            
            .c-auxiliary__resources-subtitle {
              font-size: 14px;
            }
          }
        }

        .c-auxiliary__resource-right {
          float: right;
          margin-top: 17px;

          @media screen and (max-width: 900px) {
            float: none;
            clear: both;
            padding-top: 15px;
          }

          .c-auxiliary__resources-button {
            background: $color-blue;
            border-radius: 100px;
            padding-left: 35px;
            padding-right: 35px;
            line-height: 170.62%;
            font-weight: 500;
            border: 0;
            font-size: 16px;
            cursor: pointer;
            color: white;
            width: 100%;
            text-align: center;
            margin-bottom: 17px;
          }
        }
      }

    }

  }
}