<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

        {% if site.gtm_id %}
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.gtm_id }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        {% endif %}

        <div class="l-page-layout l-page-layout--two-column-fixed">

            <div class="privacy-page-layout__header">

                {% include tools-header.html %}
                <main>
                  <div class="l-privacy-toolset__body">
                        {% include toolset-body.html %}

                  </div><!--end l-container-->
                  {% include toolset-footer.html %}
        </main><!--end role=main-->

            </div><!--end l-page-layout__main-->

        </div><!--end l--two-column-fixed-->

        {% include scripts.html %}
  </body>

</html>
