/*------------------------------------*\
    #BODY
\*------------------------------------*/

/**
 * HTML base styles
 */
html {
	height: 100%;
}

/**
 * Body base styles
 */
body {
	background: $main_background_color;
	font: 100%/1.5 $font;
	-webkit-text-size-adjust: 100%;
	color: $color-gray-73;
	display: flex;
	flex-direction: column;
	height: 100%;
}

/**
 * Enable antialiasing
 */
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
