/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/**
 * Link base styles
 */
a {
	color: $highlight_color;
	text-decoration: none;
	outline: 0;
	transition: color $fade-quick ease-out, box-shadow $fade-quick ease-out;

	&:hover, &:focus {
		color: $color-gray-50;
	}
}
