/*------------------------------------*\
    #TEXT
\*------------------------------------*/

/**
 * Paragraph base styles
 */
p {
	margin-bottom: $space;
}

/**
 * Blockquote base styles
 */
blockquote {
    font-style:italic;
    border-left: 1px solid $color-gray-50;
    color: $color-gray-50;
	padding-left: 1rem;
	margin-bottom: $space;
}

/**
 * Horizontal rule base styles
 */
hr {
	border: 0;
    height: 1px;
    background: $color-gray-13;
    margin: 1rem 0;
}

/**
 * Selection styles
 */
::-moz-selection {
  background: $color-gray-13; /* Gecko Browsers */
}
::selection {
  background: $color-gray-13; /* WebKit/Blink Browsers */
}

/**
 * Code base styles
 */
code {
	display: inline-block;
	background: $code_background_color;
	border: 1px solid $color-gray-27;
	padding: .2rem .5rem;
    line-height: 1.2;
    font-size: .85rem;
}

/**
 * Preformatted text base styles
 */
pre {
	background: $code_background_color;
	border: 3px solid $code_background_color;
	font-size: $font-size-med;
	padding: 0;
	margin: 0;
    overflow-x: auto;

	/**
	 * Remove border from code within preformatted text block
	 */
	code {
		border: 0;
	}
}

/**
 * Code with languages associated with them
 * 1) Override Prism sysles for code blocks with language
 */
code[class*="language-"],
pre[class*="language-"] {
    font-family:monospace !important;
}
